body {
    margin: 0;
    padding: 0;
}

#top-container {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
}

#main-container {
    width: 100%;
    height: 600px;
    background-color: beige;
    text-align: center;
    padding-top: 10%;
}

h1,h2 {
    margin: 0;
}

#main-container label {
    padding: 20px;
    line-height: 60px;
}

#top-container form {
    position: absolute;
    right: 5%;
    top: 0;
}

h1 {
    line-height: 100px;
}

#lout {
    position: absolute;
    right: 5%;
    top: 3%;
    padding: 10px;
}