body {
    margin: 0;
    padding: 0;
}

#top-container {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
}

#main-container {
    width: 100%;
    height: 800px;
    background-color: beige;
    text-align: center;
    
}

h1,h2 {
    margin: 0;
}

#main-container label {
    padding: 20px;
    line-height: 60px;
}

#top-container form {
    position: absolute;
    right: 5%;
    top: 0;
}

h1 {
    line-height: 100px;
}

#lout {
    position: absolute;
    right: 5%;
    top: 3%;
    padding: 10px;
}

p{
    text-align: center;
}

.info {
    color: brown;
    text-align: left;
    margin-top: 0%;
    padding-top: 10px;
}

#reg {
    margin-top: 10px;
}

h2{
    padding-top: 150px;
    padding-bottom: 10px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

#avatar{
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    margin: auto;
    overflow: hidden;
    border-radius: 80px;
}

.backpg{
    padding-right: 90%;
}

#chat-container {
    width: 500px;
    height: 500px;
    background-color: azure;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    overflow: auto;
}

textarea{
    margin-top: 20px;
    width: 170px;
}

#send-but{
    position: absolute;
    padding: 5px;
    margin-top: 40px;
}

#chat-inf{
    border: 1px solid black;
    padding: 5px;
    width: 200px;
    margin: auto;
    border-top: none;
}

.msg-box{
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    background-color: teal;
    border: 1px solid black;
    width: fit-content;
    max-width: 35%;
}